<h1>List of All Family Members</h1>
<ul>
  <% @children.each do |child| %>
  <li> First Name: <%= child.first_name %></li>
  <li> Last Name: <%= child.last_name %></li>
  <li> Surname ID: <%= child.surname_id %></li>
  <li> Female: <%= child.female %></li>
  <li> Languages Spoken: <%= child.languages_spoken %></li>
  <% end %>
</ul>