<h1><%= @child.first_name %></h1>
<ul>
  <li> Last Name: <%= @child.last_name %></li>
  <li> Surname ID: <%= @child.surname_id %></li>
  <li> Female: <%= @child.female %></li>
  <li> Languages Spoken: <%= @child.languages_spoken %></li>
</ul>