<h1>List of Families:</h1>
<%= link_to 'Sort Families by Number of Descendents', families_path(sort: true) %>
<div class="keyword-search">
  <%= form_with url: families_path, method: :get, data: { turbo: false } do |f| %>
    <%= f.label :keyword, 'Search by keyword:' %>
    <%= f.text_field :keyword %>
    <%= f.submit "Search" %>
  <% end %>
</div>
<div class="partial-match">
  <%= form_with url: families_path, method: :get, data: { turbo: false } do |f| %>
    <%= f.label :partial_match, 'Search by partial match:' %>
    <%= f.text_area :partial_match %>
    <%= f.submit "Search" %>
  <% end %>
</div>
<ul>
  <% @families.each do |family| %>
    <div id="family-<%= family.id %>">
      <li> <%= family.name %> [<%= link_to 'Edit', families_edit_path(family.id) %>] [<%= link_to 'Delete', families_delete_path(family), method: :delete %>] </li>
      <% if params[:sort] %>
        <li>Number of Descendents: <%= family.count_descendents %></li>
      <% end %>
      <li>Created at: <%= family.created_at %> </li>
    </div>
    <br>
  <% end %>
</ul>
<%= link_to 'Add Family', families_new_path %>
