<h1><%= @family.name %> Family</h1>
<%= link_to 'Descendents', family_descendents_path(@family.id), data: { turbo_method: :get } %>
<%= link_to 'Edit Family Information', families_edit_path(@family.id), data: { turbo_method: :get } %>
<%= link_to 'Delete Family', families_delete_path(@family.id), data: { turbo_method: :delete } %>
<p>Family ID: <%= @family.id %></p>
<p>Number of <%= @family.name %> descendents: <%= @family.descendents.count %></p>
