<h1>List of All Family Members</h1>
<ul>
  <% @persons.each do |person| %>
  <li> First Name: <%= person.first_name %></li>
  <li> Last Name: <%= person.last_name %></li>
  <li> Surname ID: <%= person.surname_id %></li>
  <li> Female: <%= person.female %></li>
  <li> Languages Spoken: <%= person.languages_spoken %></li>
  <% end %>
</ul>