<h1><%= @person.first_name %></h1>
<ul>
  <li> Last Name: <%= @person.last_name %></li>
  <li> Surname ID: <%= @person.surname_id %></li>
  <li> Female: <%= @person.female %></li>
  <li> Languages Spoken: <%= @person.languages_spoken %></li>
</ul>