<h1>List of Descendents</h1>
<ul>
  <% @family_descendents.each do |descendent| %>
    <li> First Name: <%= descendent.first_name %></li>
    <li> Last Name: <%= descendent.last_name %></li>
    <li> Family ID: <%= descendent.family_id %></li>
    <li> Female: <%= descendent.female %></li>
    <li> Languages Spoken: <%= descendent.languages_spoken %></li>
  <% end %>
</ul>

<%= link_to 'Create New Descendent', family_descendents_new_path %>