<h1>Add New Descendent</h1>
<%= form_with url: family_descendents_create_path, method: :post, data: { turbo: false } do |f| %>
  <%= f.label :first_name, 'First Name:' %>
  <%= f.text_field :first_name %> <br>
  <%= f.label :family_id, 'Family ID:' %> 
  <%= f.number_field :family_id %> <br>
  <%= f.label :parents_id, 'Parents ID:' %> 
  <%= f.number_field :parents_id %> <br>
  <%= f.label :female, 'Female:' %>
  <%= f.radio_button :female, 'true' %>
  <%= f.label :female, 'True', :value => true %>
  <%= f.radio_button :female, 'false' %>
  <%= f.label :female, 'False', :value => false %> <br>
  <%= f.label :languages_spoken, 'Languages Spoken:' %>
  <%= f.number_field :languages_spoken %> <br>
  <%= f.submit "Create Descendent" %>
<% end %>
