<h1>List of All Family Members</h1>
<ul>
  <% @descendents.each do |descendent| %>
    <div id="descendent-<%= descendent.id %>">      
      <li> First Name: <%= descendent.first_name %></li>
      <li> Last Name: <%= descendent.last_name %></li>
      <li> Family ID: <%= descendent.family_id %></li>
      <li> Female: <%= descendent.female %></li>
      <li> Languages Spoken: <%= descendent.languages_spoken %></li>
      <li><%= link_to 'Edit', descendents_edit_path(descendent) %></li>
      <li><%= link_to 'Delete', descendents_delete_path(descendent), method: :delete %></li>
      <br>
    </div>
  <% end %>
</ul>