<h1>List of All Family Members</h1>
<div class="keyword-search">
  <%= form_with url: descendents_path, method: :get, data: { turbo: false } do |f| %>
    <%= f.label :keyword, 'Search by keyword:' %>
    <%= f.text_field :keyword %>
    <%= f.submit "Search" %>
  <% end %>
</div>
<div class="partial-match">
  <%= form_with url: descendents_path, method: :get, data: { turbo: false } do |f| %>
    <%= f.label :partial_match, 'Search by partial match:' %>
    <%= f.text_field :partial_match %>
    <%= f.submit "Search" %>
  <% end %>
</div>
<ul>
  <% @descendents.each do |descendent| %>
    <div class="descendent-<%= descendent.id %>">
      <li> First Name: <%= descendent.first_name %></li>
      <li> Last Name: <%= descendent.last_name %></li>
      <li> Family ID: <%= descendent.family_id %></li>
      <li> Female: <%= descendent.female %></li>
      <li> Languages Spoken: <%= descendent.languages_spoken %></li>
      <li><%= link_to 'Edit', descendents_edit_path(descendent), data: { turbo_method: :get } %></li>
      <li><%= link_to 'Show Page', descendents_show_path(descendent), data: { turbo_method: :get } %></li>
      <li><%= link_to 'Delete', descendents_delete_path(descendent), data: { turbo_method: :delete} %></li>
      <br>
    </div>
  <% end %>
</ul>
