<h1><%= @descendent.first_name %></h1>
<ul>
  <li> Last Name: <%= @descendent.last_name %></li>
  <li> Family ID: <%= @descendent.family_id %></li>
  <li> Female: <%= @descendent.female %></li>
  <li> Languages Spoken: <%= @descendent.languages_spoken %></li>
</ul>

<%= link_to 'Edit Descendent', descendents_edit_path(@descendent) %>
<%= link_to 'Delete Descendent', descendents_delete_path(@descendent), method: :delete %>
